substitutions:
  name: esphome-watermeter-tst
  friendly_name: esphome-watermeter-tst
    
esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  level: DEBUG  # Debug level to show frame hex dumps
  tx_buffer_size: 2048  # Increase buffer to prevent log truncation
  baud_rate: 115200
  logs:
    component: INFO     # Reduce noise from other components
    esp32: INFO
    spi: DEBUG
    app: INFO
    wifi: ERROR         # Disable WiFi scan logs
    wmbus_radio: DEBUG  # Show frame hex dumps
    cc1101: DEBUG       # Show CC1101 details

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_watermeter

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

time:
  - platform: homeassistant

external_components:
  - source: github://enr0c/esphome-components@cc1101-support
    components: [ wmbus_radio, wmbus_meter, wmbus_common ]
    refresh: 0min
# VCC = red
# GND = orange
# MOSI = yellow 
# S/CLK = green
# MISO = blue
# GDO2 =   grey
# GDO0 =  puprple
# CSN =   white

spi:
  clk_pin:  GPIO18  # green
  mosi_pin: GPIO19  # yellow
  miso_pin: GPIO23  # blue


wmbus_radio:
  radio_type: CC1101
  cs_pin: GPIO25  # white
  gdo2_pin:
    number: GPIO27  # grey
    mode: INPUT_PULLDOWN
  gdo0_pin: GPIO26  # puprple
  frequency: 868.95
  on_frame:
    - then:
        - logger.log:
            format: "RSSI: %ddBm T: %s (%d) %s"
            args: [ frame->rssi(), frame->as_hex().c_str(), frame->data().size(), toString(frame->link_mode()) ]


# wM-Bus common configuration (no specific meters configured - scan all)
wmbus_common:
  drivers:
    - waterstarm
    - engelmann-faw

wmbus_meter:
   - id: lorenz_22308176
     meter_id: 0x22308176
     type: waterstarm
     key: !secret lorenz_22308176