substitutions:
  name: esphome-watermeter-prd
  friendly_name: esphome-watermeter-prd
    
esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  level: DEBUG  # Debug level to show frame hex dumps
  tx_buffer_size: 2048  # Increase buffer to prevent log truncation
  baud_rate: 115200
  logs:
    component: INFO     # Reduce noise from other components
    esp32: INFO
    spi: DEBUG
    app: INFO
    wifi: ERROR         # Disable WiFi scan logs
    wmbus_radio: DEBUG  # Show frame hex dumps
    cc1101: DEBUG       # Show CC1101 details

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_watermeter


ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

time:
  - platform: homeassistant

external_components:
  - source: github://enr0c/esphome-components@cc1101_support
    components: [ wmbus_radio, wmbus_meter, wmbus_common ]
    refresh: 0min
# VCC = red
# GND = orange
# MOSI = yellow 
# S/CLK = green
# MISO = blue
# GDO2 =   grey
# GDO0 =  puprple
# CSN =   white

spi:
  clk_pin:  GPIO18  # green
  mosi_pin: GPIO23  # yellow
  miso_pin: GPIO19  # blue


wmbus_radio:
  radio_type: CC1101
  cs_pin:   GPIO25  # white
  gdo2_pin: GPIO27  # grey
  gdo0_pin: GPIO4  # puprple
  frequency: 868.95

# wM-Bus common configuration (no specific meters configured - scan all)
wmbus_common:
  drivers:
    - waterstarm