substitutions:
  name: esphome-watermeter-tst
  friendly_name: esphome-watermeter-tst
    
esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"
  devices:
    - id: lorenz_22308176_device
      name: "Kaltwasser Gästebad"
    - id: lorenz_22308860_device
      name: "Kaltwasser Masterbad"
    - id: lorenz_22323962_device
      name: "Warmwasser Gästebad"
    - id: lorenz_22324011_device
      name: "Warmwasser Masterbad"
    - id: lorenz_23120547_device
      name: "Waschkeller"
    - id: engelmann_23651845_device
      name: "Fussbodenheizung"

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  level: INFO  # Debug level to show frame hex dumps
  tx_buffer_size: 2048  # Increase buffer to prevent log truncation
  baud_rate: 115200
  logs:
    component: INFO     # Reduce noise from other components
    esp32: INFO
    spi: INFO
    app: INFO
    wifi: ERROR         # Disable WiFi scan logs
    wmbus_radio: INFO  # Show frame hex dumps
    cc1101: INFO       # Show CC1101 details

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_watermeter

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

time:
  - platform: homeassistant

external_components:
  - source: github://enr0c/esphome-components@cc1101-support
    components: [ wmbus_radio, wmbus_meter, wmbus_common ]
    refresh: 0min
# VCC = red
# GND = orange
# MOSI = yellow 
# S/CLK = green
# MISO = blue
# GDO2 =   grey
# GDO0 =  puprple
# CSN =   white

spi:
  clk_pin:  GPIO18  # green
  mosi_pin: GPIO19  # yellow
  miso_pin: GPIO23  # blue


wmbus_radio:
  id: radio
  radio_type: CC1101
  cs_pin: GPIO25  # white
  gdo2_pin:
    number: GPIO27  # grey
    mode: INPUT_PULLDOWN
  gdo0_pin: GPIO26  # puprple
  frequency: 868.95
  on_frame:
    - then:
        - logger.log:
            level: INFO
            format: "RSSI: %ddBm T: %s (%d) %s"
            args: [ frame->rssi(), frame->as_hex().c_str(), frame->data().size(), toString(frame->link_mode()) ]

# wM-Bus common configuration (no specific meters configured - scan all)
wmbus_common:
  drivers:
    - waterstarm
    - engelmann-faw
    - sensostar

wmbus_meter:
  - id: lorenz_23120547
    radio_id: radio
    meter_id: 0x23120547
    type: waterstarm
    key: !secret lorenz_23120547
    on_telegram:
          then:
            - logger.log:
                level: INFO
                format: "wmbus %s: %s"
                args:
                  - meter.get_id().c_str()
                  - meter.as_json(true).c_str()
  - id: lorenz_22324011
    radio_id: radio
    meter_id: 0x22324011
    type: waterstarm
    key: !secret lorenz_22324011
    on_telegram:
          then:
            - logger.log:
                level: INFO
                format: "wmbus %s: %s"
                args:
                  - meter.get_id().c_str()
                  - meter.as_json(true).c_str()
  - id: lorenz_22308176
    radio_id: radio
    meter_id: 0x22308176
    type: waterstarm
    key: !secret lorenz_22308176
    on_telegram:
          then:
            - logger.log:
                level: INFO
                format: "wmbus %s: %s"
                args:
                  - meter.get_id().c_str()
                  - meter.as_json(true).c_str()
  - id: lorenz_22323962
    radio_id: radio
    meter_id: 0x22323962 
    type: waterstarm
    key: !secret lorenz_22323962
    on_telegram:
          then:
            - logger.log:
                level: INFO
                format: "wmbus %s: %s"
                args:
                  - meter.get_id().c_str()
                  - meter.as_json(true).c_str() 
  - id: lorenz_22308860
    radio_id: radio
    meter_id: 0x22308860
    type: waterstarm
    key: !secret lorenz_22308860    
    on_telegram:
          then:
            - logger.log:
                level: INFO
                format: "wmbus %s: %s"
                args:
                  - meter.get_id().c_str()
                  - meter.as_json(true).c_str()
  - id: engelmann_23651845
    radio_id: radio
    meter_id: 0x23651845
    type: sensostar
    key: !secret engelmann_23651845
    on_telegram:
          then:
            - logger.log:
                level: INFO
                format: "wmbus %s: %s"
                args:
                  - meter.get_id().c_str()
                  - meter.as_json(true).c_str()
sensor:
# total water consumption sensors
  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "total"
    field: total_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    device_class: water
    state_class: total
  - platform: wmbus_meter
    parent_id: lorenz_22308860
    device_id: lorenz_22308860_device
    name: "total"
    field: total_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    device_class: water
    state_class: total
  - platform: wmbus_meter
    parent_id: lorenz_22323962
    device_id: lorenz_22323962_device
    name: "total"
    field: total_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    device_class: water
    state_class: total
  - platform: wmbus_meter
    parent_id: lorenz_22324011
    device_id: lorenz_22324011_device
    name: "total"
    field: total_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    device_class: water
    state_class: total
  - platform: wmbus_meter
    parent_id: lorenz_23120547
    device_id: lorenz_23120547_device
    name: "total"
    field: total_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    device_class: water
    state_class: total
# battery voltage sensors as diagnostics
  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Battery"
    field: battery_v
    unit_of_measurement: "V"
    accuracy_decimals: 2
    device_class: voltage
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22308860
    device_id: lorenz_22308860_device
    name: "Battery"
    field: battery_v
    unit_of_measurement: "V"
    accuracy_decimals: 2
    device_class: voltage
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22323962
    device_id: lorenz_22323962_device
    name: "Battery"
    field: battery_v
    unit_of_measurement: "V"
    accuracy_decimals: 2
    device_class: voltage
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22324011
    device_id: lorenz_22324011_device
    name: "Battery"
    field: battery_v
    unit_of_measurement: "V"
    accuracy_decimals: 2
    device_class: voltage
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_23120547
    device_id: lorenz_23120547_device
    name: "Battery"
    field: battery_v
    unit_of_measurement: "V"
    accuracy_decimals: 2
    device_class: voltage
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: engelmann_23651845
    device_id: engelmann_23651845_device
    name: "Battery"
    field: battery_v
    unit_of_measurement: "V"
    accuracy_decimals: 2
    device_class: voltage
    entity_category: diagnostic
# RSSI sensor
  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "RSSI"
    field: rssi_dbm
    unit_of_measurement: "dBm"
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22308860
    device_id: lorenz_22308860_device
    name: "RSSI"
    field: rssi_dbm
    unit_of_measurement: "dBm"
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22323962
    device_id: lorenz_22323962_device
    name: "RSSI"
    field: rssi_dbm
    unit_of_measurement: "dBm"
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22324011
    device_id: lorenz_22324011_device
    name: "RSSI"
    field: rssi_dbm
    unit_of_measurement: "dBm"
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_23120547
    device_id: lorenz_23120547_device
    name: "RSSI"
    field: rssi_dbm
    unit_of_measurement: "dBm"
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: engelmann_23651845
    device_id: engelmann_23651845_device
    name: "RSSI"
    field: rssi_dbm
    unit_of_measurement: "dBm"
    entity_category: diagnostic
  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Consumption At Set Date"
    field: consumption_at_set_date_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    state_class: measurement
  - platform: wmbus_meter
    parent_id: engelmann_23651845
    device_id: engelmann_23651845_device
    name: "Engelmann 23651845 Total Energy"
    field: total_kwh
    unit_of_measurement: "kWh"
    accuracy_decimals: 0
    state_class: total_increasing

  - platform: wmbus_meter
    parent_id: engelmann_23651845
    device_id: engelmann_23651845_device
    name: "Engelmann 23651845 Total Water"
    field: total_water_m3
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    state_class: measurement
text_sensor:
  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Lorenz 22308176 Status"
    field: status

  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Lorenz 22308176 Current Status"
    field: current_status

  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Lorenz 22308176 Timestamp"
    field: timestamp
    device_class: timestamp

  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Lorenz 22308176 Meter Datetime"
    field: meter_datetime
    device_class: timestamp

  - platform: wmbus_meter
    parent_id: lorenz_22308176
    device_id: lorenz_22308176_device
    name: "Lorenz 22308176 Set Date"
    field: set_date
    device_class: timestamp
